.wrap p {
	display: block;
	float: left;
	width: 200px;
	height: 100px;
	border: 1px gray dashed;
	text-align: center;
	padding: 10px 0;
}
.wrap {
	width: 2000px;
}
#live_row {
	width: 400px;
	overflow: hidden;
}
#p1 {
	background: #eee;
}
#p2 {
	background: #ccc;
}
#p3 {
	background: #aaa;
}
#p4 {
	background: #888;
}
#p5 {
	background: #666;
}
button {
	padding: 3px 6px 5px;
}